{% extends "base.html" %}

{% block content %}

<div style="text-align: center; margin: 150px; color:white;">

<h1>Marwan Shiraz Khan</h1>
<br>
<br>
<div>
            <ul class="list-unstyled mb-0">
            
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Montreal, QC, Canada</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 1 514 664 0021</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
            
                    <p>marwan.khan12@gmail.com</p>
                </li>
            </ul>
        </div>

</div>

{% endblock %}